# Dependencies
node_modules/

# Env
.env
.env.*
!.env.example

# Expo
.expo/
expo-env.d.ts.generated

# Build outputs
dist/
build/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/
